<div>
    <div>
        <form [formGroup]="taskModel" (ngSubmit)="createValue()">
            <div>
                <label for="title">Title</label>
                <div>
                    <input id="title" placeholder="Title" formControlName="title"/>
                    <span [hidden]="!taskModel.hasError('required', 'value')">Title is required..</span>
                    <span [hidden]="!taskModel.hasError('minlength', 'value')">At least 2 characters in length</span>
                </div>
            </div>

            <div>
                <label for="description">Description</label>
                <div>
                    <input id="description" placeholder="Description" formControlName="description"/>
                    <span [hidden]="!taskModel.hasError('required', 'value')">Description is required..</span>
                    <span [hidden]="!taskModel.hasError('minlength', 'value')">At least 2 characters in length</span>
                </div>
            </div>

            <input type="submit" value="Submit"/>
            <a [routerLink]="['/list']">Task List</a>
        </form>
    </div>
</div>
