<div class="border-collapse border border-green-800">
    <div>
        <table *ngIf="tasks$ | async as tasks" class="table-auto">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks.content; let e = even;">
                <td>{{ task.title }}</td>
                <td>{{ task.description }}</td>
                <td><a [routerLink]="['/edit', task.id]">수정</a></td>
            </tbody>
        </table>
    </div>
</div>

<div>
    <div>
        <a [routerLink]="['/create']">New Value</a>
    </div>
</div>
