<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="taskModel" class="form-horizontal" (ngSubmit)="createValue()">

            <div class="form-group">
                <label for="title" class="col-xs-2">Title</label>
                <div class="col-xs-6">
                    <input class="form-control" id="title" placeholder="Title" formControlName="title"/>
                    <span [hidden]="!taskModel.hasError('required', 'value')">Title is required..</span>
                    <span [hidden]="!taskModel.hasError('minlength', 'value')">At least 2 characters in length</span>
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="col-xs-2">Description</label>
                <div class="col-xs-6">
                    <input class="form-control" id="description" placeholder="Description"
                           formControlName="description"/>
                    <span [hidden]="!taskModel.hasError('required', 'value')">Description is required..</span>
                    <span [hidden]="!taskModel.hasError('minlength', 'value')">At least 2 characters in length</span>
                </div>
            </div>

            <input type="submit" class="btn btn-primary" value="Submit"/>
            <a [routerLink]="['/list']">Task List</a>
        </form>
    </div>
</div>
