<div *ngIf="!isOpenCreateTask">
    <div class="buttons flex p-1">
        <div class="btn border border-gray-300 p-1 px-2 font-semibold cursor-pointer text-gray-500 ml-auto flex" (click)="createTask()">
            <img src="assets/icon/plus.svg" height="12" width="12" class="mr-2"> 추가
        </div>
    </div>
</div>
<div *ngIf="isOpenCreateTask" class="bg-gray-50 p-2 rounded mt-1 border-b border-grey cursor-pointer hover:bg-gray-200">
    <form [formGroup]="taskForm" (ngSubmit)="save()">
        <div class="editor flex flex-col text-gray-800 p-1 max-w-2xl">
            <input class="title bg-gray-100 border border-gray-300 p-1 mb-2 outline-none" spellcheck="false" placeholder="작업명" type="text" formControlName="title">
            <textarea class="description bg-gray-100 sec p-1 h-20 border border-gray-300 outline-none" spellcheck="false" placeholder="작업 설명" formControlName="description"></textarea>
        </div>
    </form>
    <div class="buttons flex p-1">
        <div class="btn border border-gray-300 p-1 px-2 font-semibold cursor-pointer text-gray-500 ml-auto flex" (click)="close()">
            <img src="assets/icon/cancel.svg" height="12" width="12" class="mr-1"> Cancel
        </div>
        <div class="btn border border-indigo-500 p-1 px-2 font-semibold cursor-pointer text-gray-200 ml-2 bg-indigo-500 flex" (click)="save()">
            <img src="assets/icon/save.svg" height="12" width="12" class="mr-2"> Save
        </div>
    </div>
</div>
